.base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    user-select: none;
    font-weight: 700;
    line-height: 1;
}
.finger {
    background: var(--highlight-color);
    color: var(--highlight-text-color);
}
.mute {
    background: gray;
    color: #fff;
}