.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
.top {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.form {
  margin-bottom: 60px;
  flex: 1;
}
.chords {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 30px;
  width: 100%;
  margin: auto;
}
.chord {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chord > h3 {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .chords {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 959px) {
  .chords {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 639px) {
  .chords {
    grid-template-columns: 1fr;
  }
}