.mute {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid lightgray;
    background: #FFF;
    align-self: center;
    grid-column: 1;
    transform: translate(-50%);
    user-select: none;
}